[build]
  publish = "build"
  command = "npm run build"

[dev]
  command = "npm start"
  targetPort = 3000
  port = 8888

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[build.environment]
  NODE_VERSION = "20"